*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("https://hbomax-images.warnermediacdn.com/2022-08/still_1.jpg?host=wme-hbomax-drupal-prod.s3.amazonaws.com");
}  
header {
  background-color: #49f41583;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  width: 150px;
  
  justify-content: space-between;

}
header ul{
  list-style: none;
  display: flex;
  
  border-radius: 18px;
}
header li{
  background-color: #d6e5f242;
  padding: 10px;
  margin: 10px;

}
main {
  background-color: #f31f1f44;
  padding: 20px;
}
.sinopsis {
  background-color: #4658f9ac;
  display: flex;
  gap: 18px;
  padding: 10px;
  border-radius: 15px;
  border: solid red 2px;
}
.sinopsis img {
  width: 200px;
  
}
.sinopsis h2 {
  padding-bottom: 20px;
}
.sinopsis p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 15px;
  line-height: 1.8;
  font-size: 18px;
  color: rgb(11, 11, 11)
  
}
.character-1{
  text-align: center;
  padding: 15px;
  background-color: #99fa90aa;
  border: solid red 2px;
  margin-top: 10px;
  border-radius: 20px;
}
/* style cont dinamic/characteres */
.cont-characters{
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  
  border-radius: 20px;
  padding: 20px ;

}
.cont-character{
  background-color: #57f74268;
  
  padding: 20px;
  width: 200px;
  text-align: center;
  
}
.cont-character img {
  width: 100%;
  border-radius: 50%;
  padding: 20px;
}
 .cont-character  {
  padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 12px;
  border-radius: 20px
  
} 
.cont-character h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
  font-size: 17px;
}
.cont-character p {
  font-size: 16px;
  background-color: #efb6b66d;
  border-radius: 20px;
 

}
/* style-streaming */
.streaming {
  background-color: #d3fa507f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 20px;
  border: solid yellow 2px;
  border-radius: 20px;
}
.cont-txt-streaming h2{
  font-size: 40px;
  margin-bottom: 10px;
}

.streaming img {
  width: 200px;
  margin-left: 10px;
}
footer{
  background-color: #9f8ce751;

  display: flex;
  
  padding: 20px;
  justify-content: space-between;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer ul{
list-style: none;
}
footer ul li{
  border-radius: 5px;
  padding: 15px;
}  
.titulo-datos{
  font-size: 35px;
} 
/* punto de quibre  */
@media(max-width: 480px) {
    header {
        background-color: #a5c31e;
    }
    header ul {
         flex-direction: column;
    }
    header ul li{
        flex-direction: column;
    }
    main {
        background-image: url("https://i.pinimg.com/550x/5f/4c/61/5f4c61e6af8f9e73893a97b79317b192.jpg");
    }
    footer {
        background-color: #eb0eb4;

    }  
} 










  









 
         
    
    
    

 


        

    


    


     
    
    
     
     

    



    

   
   



   





   



 




 
 
